<div>
  <h1>App Component</h1>
  <!-- <app-counter></app-counter> -->
  <!-- <app-props name="rohan"></app-props> -->
  <!-- name is property on app-props component and we can use dynamic field also to provide data -->
  <!-- <app-props [name]="name"></app-props> -->
  <!--$ is a special character to showcase its a template string -->
  <!-- <h3>{{name}}</h3>
    <button (click)="getData()">getData</button>
    <app-child></app-child> -->

  <!-- <app-ngif></app-ngif> -->
  <!-- <app-ngswitch></app-ngswitch> -->
  <!-- <app-ngproperty></app-ngproperty> -->
  <!-- <app-pipes></app-pipes> -->
  <app-jokes></app-jokes>
</div>